@import "../styles.scss";

.like-nav
{
    display: flex;
    justify-content: center;
    border-bottom: $border-primary;
    cursor: pointer;
   
   
}

.likes-bar
{   
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 240, 0.0001);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    width: 180px;
    height: 44px;
    
     
}

.like-nav :first-child 
{
    color: rgba(0, 0, 0, 0.4);

}

.like-nav :nth-child(2)
{
    border-bottom: solid 1px black;
}


.follow-request
{   
    display: flex;
    align-items: center;
    width: 375px;
    height: 48px; 
    padding-left: 16px;
  

    p 
    {
        font-size: 15px
    }
}

.like-new

{       padding-left: 16px;
        padding-top: 16px;
        border-top: $border-primary;
        border-bottom: $border-primary;
        
    p 
    {
        font-weight: bold;
        font-size: 15px;
        
    }
    
    .like-info
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 21px;
        padding-bottom: 8px;
        
        p {
            font-weight: normal;
        }
        span 
        {
            color: rgba(0, 0, 0, 0.4);
        }

        .like-person
        {   
            box-sizing: border-box;
            
            padding-right: 12px;
        }

        .photo-liked
        {
            margin-left: auto;
            margin-right: 16px;
        }
    }  
}

