@import "../styles.scss";


.Search-bar
{
    display: flex;
}

.search-profile
{   
    width: 327px;
    height: auto;
    border-radius: 10px;
    background-color: rgba(118, 118, 128, 0.12);
    padding: 6px;
    margin: 8px;
    border: none;
    

}

.action-icon
{
    margin-left: auto;
    margin-right: 10px;
}


.nav-bar
{
    display: flex;
    justify-content: space-evenly;
}

.search-button
{
    padding-right: 8px;
}

.nav-button
{   
    border: 1px solid rgba(60, 60, 67, 0.18);
    color: $text-color;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.search-photos
{
    display: flex;
    flex: row;
    box-sizing: border-box;
}